.footer {
    max-width: 1440px;
    width: 75%;
    margin: 20px auto 0 auto;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.footer__grid {
    width: 95%;
    margin: 30px auto 30px auto;
    display: grid;
    column-gap: 50px;
    justify-items: center;
    grid-template-columns: 400px 400px 1fr;
    grid-template-areas:
    "about logo navigation";
}

.footer__about {
    min-width: 50px;
    grid-area: about;
    justify-self: left;
}

.footer__logo {
    grid-area: logo;
    width: 99px;
    height: 79px;
    object-fit: contain;
    justify-self: center;
}

.footer__container {
    grid-area: navigation;
    justify-self: right;
    display: flex;
    justify-content: space-between;
}

.footer__navigation {
    margin-right: 20px;
}

.footer__links {
    display: flex;
    flex-direction: column;
}

.footer__link {
    margin-top: 5px;
    color: rgba(0, 0, 0, .8);
    cursor: pointer;
    transition: .4s ease-in-out;
    opacity: 1;
}

.footer__link:hover {
    opacity: .8;
}

.footer__link:active {
    opacity: .5;
}

.footer__headline {
    color: black;
    font-size: 16px;
}


.footer__text {
    color: rgba(0, 0, 0, .8);
    margin-top: 5px;
    font-size: 16px;
}

@media screen and (max-width: 1800px) {
    .footer__grid {
        gap: 0;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer__navigation {
        margin-right: 10px;
    }

    .footer__headline {
        font-size: 14px;
    }

    .footer__text {
        font-size: 12px;
    }
}

@media screen and (max-width: 1280px) {
    .footer {
        width: 85%;
    }
}

@media screen and (max-width: 800px) {
    .footer__grid {
        grid-template-areas:
        "about about about"
        "logo logo logo"
        "navigation navigation navigation";
    }

    .footer__about {
        justify-self: center;
    }

    .footer__logo {
        margin-top: 30px;
    }

    .footer__container {
        justify-self: center;
        margin-top: 30px;
    }

    .footer__container {
        flex-direction: column;
        gap: 30px;
    }

    .footer__navigation {
        margin-right: 0;
    }

    .footer__headline {
        font-size: 1.2em;
    }

    .footer__link {
        text-align: center;
    }

    .footer__text {
        text-align: center;
    }

    .footer__connect {
        text-align: center;
    }
}