.homePage__btnBox {
    position: absolute;
    top: 50px;
    left: 50px;
}

.homePage__btnBox_mobile {
    position: absolute;
    top: 25px;
    left: 25px;
}

.homePage__container {
    position: relative;
    border-top: 60px solid white;
}

@media screen and (max-width: 1280px) {
    .homePage__container {
        border-top: 50px solid white;
    }
}

@media screen and (max-width: 900px) {
    .homePage__container {
        border-top: 30px solid white;
    }
}

@media screen and (max-width: 800px) {
    .homePage__container {
        border-top: none;
    }
}